<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Creatio_Credit Suite"
       verbose="2"
       configfailurepolicy="continue"
       junit="false"
       parallel="none">

    <listeners>
        <!-- Allure listener -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <!-- Кастомный listener -->
        <listener class-name="core.base.TestListener"/>
    </listeners>

    <!-- SMOKE -->
    <test name="Smoke Tests" preserve-order="true">
        <packages>
            <package name="tests.smoke"/>
        </packages>
    </test>

    <!-- REGRESSION -->
    <test name="Regression Tests" preserve-order="true">
        <packages>
            <package name="tests.regression"/>
        </packages>
    </test>

    <!-- NEGATIVE -->
    <test name="Negative Tests" preserve-order="true">
        <packages>
            <package name="tests.negative"/>
        </packages>
    </test>

</suite>
