<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Creatio_Credit Suite"
       verbose="1"
       configfailurepolicy="continue">

    <listeners>
        <listener class-name="core.base.TestListener"/>
    </listeners>

    <!-- Запуск ONLY SMOKE -->
    <test name="Smoke Tests">
        <packages>
            <package name="tests.smoke"/>
        </packages>
    </test>

    <!-- Запуск ONLY REGRESSION -->
    <test name="Regression Tests" parallel="classes" thread-count="4">
        <packages>
            <package name="tests.regression"/>
        </packages>
    </test>

    <!-- Запуск ONLY NEGATIVE -->
    <test name="Negative Tests" parallel="classes" thread-count="4">
        <packages>
            <package name="tests.negative"/>
        </packages>
    </test>

</suite>
